@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Edu+SA+Beginner&family=Roboto+Serif:wght@500&family=Satisfy&display=swap");
#root {
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}
.row {
  display: flex;
  align-items: center;
}

.navbar {
  position: relative;
  z-index: 1;
}

.text-overlay {
  text-align: center;
  color: white;
  font-size: 36px;
  animation: wordAnimation 2s ease-in-out forwards;
  opacity: 0;
  margin-right: 20px;
}

.text-overlay span {
  opacity: 0;
  animation: wordFadeIn 2s ease-in-out forwards;
  margin-right: 10px; /* Add spacing between words */
}
.hospital-image {
  max-width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

.head {
  font-family: "Roboto Serif", serif;
  color: #ffffff;
}

@media (max-width: 768px) {
  .text-overlay {
    padding: 10px;
    font-size: 28px;
  }

  .text-overlay h4 {
    font-size: 16px;
  }

  .hospital-image {
    width: 100%;
    height: auto;
  }
}
