@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Roboto+Serif:wght@500&family=Satisfy&display=swap");
#root {
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}
.row {
  display: flex;
  align-items: center;
}
.heros {
  background: linear-gradient(45deg, #00afefa5 0%, #0baf73af 100%);
}

.navbar {
  position: relative;
  z-index: 1;
}

.text-overlay {
  text-align: center;
  color: white;
  font-size: 36px;
  animation: wordAnimation 2s ease-in-out forwards;
  opacity: 0;
  margin-right: 20px;
}

.text-overlay span {
  opacity: 0;
  animation: wordFadeIn 2s ease-in-out forwards;
  margin-right: 10px; /* Add spacing between words */
}
.hospital-image {
  max-width: 100%;
  margin-top: 40px;
  margin-bottom: -40px;
}
.best-of {
  font-family: "Satisfy", cursive;
}
.head {
  font-family: "Roboto Serif", serif;
  color: #ffffff;
}

@keyframes wordAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wordFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-overlay h1:nth-child(1) span:nth-child(1) {
  animation-delay: 0.5s;
}

.text-overlay h1:nth-child(1) span:nth-child(2) {
  animation-delay: 1s;
}

.text-overlay h1:nth-child(1) span:nth-child(3) {
  animation-delay: 1.5s;
}

.text-overlay h1:nth-child(1) span:nth-child(4) {
  animation-delay: 2s;
}

.text-overlay h1:nth-child(1) span:nth-child(5) {
  animation-delay: 2.5s;
}

.text-overlay h1:nth-child(1) span:nth-child(6) {
  animation-delay: 3s;
}

.text-overlay h4:nth-child(2) span:nth-child(1) {
  animation-delay: 3.5s;
}

.text-overlay h4:nth-child(2) span:nth-child(2) {
  animation-delay: 4s;
}

@media (max-width: 768px) {
  .text-overlay {
    padding: 10px;
    font-size: 28px;
  }

  .text-overlay h4 {
    font-size: 16px;
  }

  .hospital-image {
    width: 100%;
    height: auto;
  }
}
