.card {
  background-color: #fafcfc;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
  border: none;
}

.card-a {
  background: #00afefd8;
  border: none;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
}
.btn {
  background-color: #00afefd8;
  border: none;
}

.btn-custom {
  background-color: #00afefd8;
  color: #4f555a;
  font-size: 20px;
}
.btn-b {
  background-color: #0000fe;
}
.btn-b:hover {
  background-color: white;
  color: #0000fe;
}

.text-custom {
  color: #fafcfc;
}
.title {
  color: #00afefd8;
  font-family: "Akaya Telivigala", cursive;
}

p {
  font-size: 20px;
}
#work-hours {
  text-align: center;
}
.col {
  margin-right: 20px;
  margin-left: 20px;
}
.title-a {
  color: #ffffff;
  font-family: "Akaya Telivigala", cursive;
}
