.heros {
  display: flex;
  align-items: center;
  background-color: #0000fe;
}

h1 {
  font-family: "Domine", serif;
  color: #ffffff;
}

.best-of {
  font-family: "Satisfy", cursive;
  color: #ffffff;
}
.logos {
  margin-right: 0;
  align-items: flex-end;
  justify-content: end;
  text-align: end;
}
