.heros {
  display: flex;
  align-items: center;
  background-color: #0000fe;
}

h1 {
  font-family: "Domine", serif;
  color: #ffffff;
  font-size: 48px;
}

.best-of {
  font-family: "Edu SA Beginner", cursive;
  color: #ffffff;
}
.lindamama {
  margin-right: 20px;
}
.eduafya {
  margin-left: 20px;
}
.cont {
  color: #ffffff;
}
