.hero {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 80px;
  box-sizing: border-box;
  border-radius: 5px;
}
.hero-1 {
  background: linear-gradient(45deg, #00afefa5 0%, #0baf73af 100%);
}
.hero h1 {
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 20px;
}

.vision-mission {
  text-align: start;
  margin: 10px auto;
  margin-left: 20px;
  background-color: #fafcfc;
}

.custom-card {
  height: 250px;
}
.card-title {
  color: #00afefd8;
}
ol {
  text-align: start;
}
