.hero {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 80px;
  box-sizing: border-box;
  border-radius: 5px;
}
.hero-1 {
  background: linear-gradient(45deg, #00afefa5 0%, #0baf73af 100%);
}
.hero h1 {
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 20px;
}
.watermark {
  position: relative;
  justify-content: center;
  align-items: center;
}

.watermark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  background-image: url("./assets/logo.jpg");
  opacity: 0.2; /* Adjust the opacity as desired */
  pointer-events: none; /* Prevents the watermark from interfering with user interactions */
  z-index: -1; /* Push the watermark behind other content */
}

.vision-mission {
  text-align: start;
  margin: 10px auto;
  margin-left: 20px;
}

.custom-card {
  height: 250px;
}
.card-title {
  color: #00afefd8;
}
ol {
  text-align: start;
}
